/* @import 'bulma/css/bulma.css'; */
html {
  background-color: rgb(12, 12, 12);
}

.container {
  color: rgb(224, 222, 217);
}
.hero.is-primary.is-bold {
  background-image: linear-gradient(110deg,#2A251B 0%,#c7b87a 60%,#2A251B 100%);
}

.notification.is-primary {
  background-image: linear-gradient(110deg,#2A251B 0%,#998c5d 50%,#554E36 80%);
  color: #fff;
}
article.notification.is-primary {
  background-image: linear-gradient(90deg, #7e703e 0%, #c7b67a 50%, #7e703e 100%);
  color: #fff;
}
div.content {
  color: white;
}

div.content h1 {
  color: white;
}

div.content h4 {
  color: white;
}

.is-warning {
  background-image: linear-gradient(90deg, #4d462d 0%, #4d462d 100%);
  color: white;
}

.tutorial {
  width: 600px;
  text-align: center;
  margin: auto;
}

figure.image {
  display: flex;
  justify-content: center;
  background-color: black;
}

figure .image img {
  width: 128px;
}

.notification {
  margin-top: 20px !important;
}

.results {
  max-height: 500px;
  overflow-y: scroll;
}

.title .icon {
  margin-left: 15px;
}

.hero {
  margin-bottom: 20px;
}

.forms {
  display: flex;
  justify-content: space-around;
}

.dropdown-item {
  display: flex;
  align-items: center;
  height: 60px;
}

.dropdown-item img {
  height: 50px;
  margin-right: 10px;
}
